{
  "type": "\${artifactId}_temperature_and_light",
  "controller": "\${artifactId}",
  "description": "Example of a sensor and actuator description",
  "config": {
    "rate": 5,
    "rateUnit": "SECONDS"
  },
  "device_io": [
    {
      "type":"sensor",
      "attr_name":"temperature",
      "attr_type":"float"
    },
    {
      "type":"actuator",
      "attr_name":"light",
      "attr_type":"boolean"
    }
  ]       
}